.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 1000px;
  height: 103vh;
  overflow-x: hidden;
  background-image: url(/image/banner.jpg);
}
.App .Btn{
  width: 100px;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  left: 37rem;
  top: -6rem;
  color: #000000;
  background-color: rgba(102, 133, 238, 0.719)

}
.App .Btn:hover{
  color: white;
  background-image: linear-gradient(#314755,#26a0da);
}
.login{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 320px;
  width: 370px;
  border: 1px solid #26a0da;
  background-color: whitesmoke;
  padding: 40px;
  border-radius: 10px;
  position: relative;
  left: 0.9rem;
  top: -1rem;
}
.account{
  position: relative;
  top: -4rem;
  left: 6rem;
  display: flex;
  height: 350px;
  padding: 20px;
}
.left-container{
  width: 800px;
  height: 450px;
  flex: 1;
}
.right-container{
  height: 500px;
  flex: 1;
}
.account2{
  position: relative;
  left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 410px;
  width: 300px;
  border: 1px solid  #26a0da;
  background-color:whitesmoke;
  padding: 20px;
  border-radius: 10px;
}
.account2 .Btn2{
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  background-color: rgba(102, 133, 238, 0.719)
}
.Btn2:hover{
  color: white;
  background-image: linear-gradient(#314755,#26a0da);
}
.login .Btn3{
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  background-color: rgba(102, 133, 238, 0.719)
}
.Btn3:hover{
  color: white;
  background-image: linear-gradient(#314755,#26a0da);
}